name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    name: Docker build
    runs-on: ubuntu-latest

    steps:
    - name: Check out teh repo
      uses: actions/checkout@v4
    - name: Login The Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag kerepakupai/ghactions:latest
    - name: Publish the Docker image
      run: docker push kerepakupai/ghactions:latest
